{% extends 'base/main.html' %}
{% load static %}


{% block content %}
      <!-- content-->
      <div class="content" style="margin-top:10px;">
        <!--section  -->
        <section class="hero-section"   data-scrollax-parent="true">
            <div class="bg-tabs-wrap">
                <div class="bg-parallax-wrap" data-scrollax="properties: { translateY: '200px' }">
                    <div class="bg bg_tabs"  data-bg="{% static 'images/library-bg.jpg' %}"></div>
                    <div class="overlay op7"></div>
                </div>
            </div>
            <div class="container small-container">
                <div class="intro-item fl-wrap">
                  
                    <div class="bubbles">
                        <h1>Welcome to Daniel Fajardo Public Library Las Piñas</h1>
                    </div>
                    <h3>It is our pleasure to assist you in any way possible. To Explore your MIND, your CREATIVITY and your IMAGINATION.
                        Daniel Fajardo's Public Library is available to assist you in your academic endeavor. For more information, please contact us on Gmail or visit us on our Facebook page below.</h3>
                </div>
             
             
            </div>
        
        </section>
        <!--section end-->
      
        
        <section>
            <div class="container big-container">
                <div class="section-title">
                    <h2><span>Book Features</span></h2>
                    <div class="section-subtitle">Best Listings</div>
                    <span class="section-separator"></span>
                    <!-- <p class="fs-2 fw-bold text-secondary">"Seek your next learning adventure starts here."</p> -->
                    <h2><span>"Seek your next learning adventure starts here."</span></h2>
                </div>
                <!-- <div class="listing-filters gallery-filters fl-wrap">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">Most Readable Books</a>
                    <a href="#" class="gallery-filter" data-filter=".restaurant">Regular Books</a>
                   
                </div> -->
                <div class="grid-item-holder gallery-items fl-wrap">
                    <!--  gallery-item-->
                    <div class="gallery-item  events">
                        <!-- listing-item  -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    
                                    <a href="#" class="geodir-category-img-wrap fl-wrap">
                                    <img src="{% static 'images/science_bg.jpg' %}" alt=""> 
                                    </a>
                                   
                                </div>
                                <div class="geodir-category-content fl-wrap title-sin_item">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map"><a href="#">Science</a></h3>
                                            
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Science is both a body of knowledge and a process. In school, science may sometimes seem like a collection of isolated and static facts listed in a textbook, but that’s only a small part of the story. Just as importantly, science is also a pro-cess of discovery that allows us to link isolated facts into coherent and compre-hensive understandings of the natural world.</p>
                                        <div class="facilities-list fl-wrap">
                                           
                                        </div>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                       
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg"><i class="fal fa-book"></i></div>
                                            <span>Science</span>
                                        </a>
                                       
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- listing-item end -->                              
                    </div>
                    <!-- gallery-item  end-->

                    <!--  gallery-item-->
                    <div class="gallery-item restaurant events">
                        <!-- listing-item  -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                   
                                    <a href="#" class="geodir-category-img-wrap fl-wrap">
                                    <img src="{% static 'images/story_book.jpg' %}" alt=""> 
                                    </a>
                                   
                                </div>
                                <div class="geodir-category-content fl-wrap title-sin_item">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map"><a href="#">Story Book</a></h3>
                                           
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">A story is a depiction of a journey. In a story we follow a character or a series of characters on a journey as they pursue something up against certain obstacles. Okay, that’s a beginning.</p>
                                        <div class="facilities-list fl-wrap">
                                           
                                        </div>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                       
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg"><i class="fal fa-book"></i></div>
                                            <span>Story Book</span>
                                        </a>
                                       
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- listing-item end -->                              
                    </div>
                    <!-- gallery-item  end-->

                     <!--  gallery-item-->
                     <div class="gallery-item  events">
                        <!-- listing-item  -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                   
                                    <a href="#" class="geodir-category-img-wrap fl-wrap">
                                    <img src="{% static 'images/mathematics_bg.jpg' %}" alt=""> 
                                    </a>
                                   
                                </div>
                                <div class="geodir-category-content fl-wrap title-sin_item">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map"><a href="#">Mathematics</a></h3>
                                           
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">Mathematics is all about illuminating relationships such as those found in shapes and in nature. It is also a powerful way of expressing relationships and ideas in numerical, graphical, symbolic, verbal and pictorial forms. This is the wonder of mathematics that is denied to most children.</p>
                                        <div class="facilities-list fl-wrap">
                                            
                                        </div>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                       
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg"><i class="fal fa-book"></i></div>
                                            <span>Mathematics</span>
                                        </a>
                                       
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- listing-item end -->                              
                    </div>
                    <!-- gallery-item  end-->


                      <!--  gallery-item-->
                      <div class="gallery-item restaurant events">
                        <!-- listing-item  -->
                        <div class="listing-item">
                            <article class="geodir-category-listing fl-wrap">
                                <div class="geodir-category-img">
                                    
                                    <a href="#" class="geodir-category-img-wrap fl-wrap">
                                    <img src="{% static 'images/philippine_history.jpg' %}" alt=""> 
                                    </a>
                                    
                                </div>
                                <div class="geodir-category-content fl-wrap title-sin_item">
                                    <div class="geodir-category-content-title fl-wrap">
                                        <div class="geodir-category-content-title-item">
                                            <h3 class="title-sin_map"><a href="#">Philippine History</a></h3>
                                           
                                        </div>
                                    </div>
                                    <div class="geodir-category-text fl-wrap">
                                        <p class="small-text">This is a timeline of Philippine history, comprising important legal and territorial changes and political events in the Philippines and its predecessor states.</p>
                                        <div class="facilities-list fl-wrap">
                                           
                                        </div>
                                    </div>
                                    <div class="geodir-category-footer fl-wrap">
                                       
                                        <a class="listing-item-category-wrap">
                                            <div class="listing-item-category red-bg"><i class="fal fa-book"></i></div>
                                            <span>Philippine History</span>
                                        </a>
                                       
                                    </div>
                                </div>
                            </article>
                        </div>
                        <!-- listing-item end -->                              
                    </div>
                    <!-- gallery-item  end-->
                
                </div>
                <!-- <a href="#" class="btn  dec_btn  color2-bg text-white">View all books</i></a> -->
            </div>
        </section>
      

          <!--section  -->
          <section class="gradient-bg hidden-section" data-scrollax-parent="true">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <div class="colomn-text  pad-top-column-text fl-wrap">
                            <div class="colomn-text-title">
                                <h3>Visit us on our social media accounts</h3>
                                <p>For more information, you can also message us on our Facebook page or Gmail account by clicking the link below.</p>
                                <a href="https://www.facebook.com/ANAPIJENETTE" class=" down-btn color3-bg"><i class="fab fa-facebook"></i>  Facebook </a>
                                <a href="mailto:jenettejoyceanapi@gmail.com" class=" down-btn color3-bg"><i class="fab fa-google"></i>  Gmail </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="colomn-text  pad-top-column-text fl-wrap">
                            <div class="colomn-text-title">
                                <h3>Our Location</h3>
                                <p>Pedro Diego Cera Avenue Daniel Fajardo, Bamboo Organ Las Piñas City, Philippines, 1740.</p>
                                <!-- <a href="#" class=" down-btn color3-bg"><i class="fab fa-facebook"></i>  Facebook </a>
                                <a href="#" class=" down-btn color3-bg"><i class="fab fa-instagram"></i>  Instagram </a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gradient-bg-figure" style="right:-30px;top:10px;"></div>
            <div class="gradient-bg-figure" style="left:-20px;bottom:30px;"></div>
            <div class="circle-wrap" style="left:270px;top:120px;" data-scrollax="properties: { translateY: '-200px' }">
                <div class="circle_bg-bal circle_bg-bal_small"></div>
            </div>
            <div class="circle-wrap" style="right:420px;bottom:-70px;" data-scrollax="properties: { translateY: '150px' }">
                <div class="circle_bg-bal circle_bg-bal_big"></div>
            </div>
            <div class="circle-wrap" style="left:420px;top:-70px;" data-scrollax="properties: { translateY: '100px' }">
                <div class="circle_bg-bal circle_bg-bal_big"></div>
            </div>
            <div class="circle-wrap" style="left:40%;bottom:-70px;"  >
                <div class="circle_bg-bal circle_bg-bal_middle"></div>
            </div>
            <div class="circle-wrap" style="right:40%;top:-10px;"  >
                <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
            </div>
            <div class="circle-wrap" style="right:55%;top:90px;"  >
                <div class="circle_bg-bal circle_bg-bal_versmall" data-scrollax="properties: { translateY: '-350px' }"></div>
            </div>
        </section>
        <!--section end-->   



        <!--section  -->
        <section>
            <div class="container big-container">
                <div class="section-title">
                    <h2><span>"The more that you READ, the more things you will KNOW. The more that you LEARN, the more PLACES you'll GO."</span></h2>
                    <div class="section-subtitle">Best Listings</div>
                    <span class="section-separator"></span>
                    <h2>Come and Visit us! We are open on Monday - Friday, 8:00 A.M to 5:00 P.M</h2>
                </div>

                <!-- <div class="row">
                    <div class="col-lg-6">
                        <h1 class="sched-title">Our daily schedule</h1>
                        <h2 style="color:#484848;">Monday - Friday, 8:00 AM to 5:00 PM</h2>
                    </div>
                  
                </div> -->
                <!-- <div class="listing-filters gallery-filters fl-wrap">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*">All Categories</a>
                    <a href="#" class="gallery-filter" data-filter=".restaurant">Restaurants </a>
                    <a href="#" class="gallery-filter" data-filter=".hotels">Hotels</a>
                    <a href="#" class="gallery-filter" data-filter=".events">Events</a>
                    <a href="#" class="gallery-filter" data-filter=".fitness">Fitness</a>
                </div> -->
               
                <!-- <a href="listing.html" class="btn  dec_btn  color2-bg">View all</a> -->
            </div>
        </section>
        <!--section end-->
      
   
      
                
      
    </div>
    <!--content end-->
{% endblock %}