{% load static %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'css/color.css' %}">

    <title>Register | Library System</title>
  </head>
  <body>
    <div class="mt-5 mb-5">
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <div class="card p-4 shadow" style="border:1px solid #E693CE">
                        <div class="card-body d-flex justify-content-center flex-column align-items-center">
                            <img class="img-fluid" src="{% static 'images/logo-library.jpg' %}" style="width: 100px;">
                            <h3 class="mb-3 text-start fs-4 mt-3" style="color: #E693CE;">Register an Account</h3>
                        </div>
                        <form class="row g-3" method="post">
                            {% csrf_token %}
                            {{ form.non_field_errors }}

                            <div class="col-md-12 text-start fs-6">
                                <label for="camera" class="form-label">Camera Feed</label>
                                <video id="camera" width="320" height="240" autoplay></video>
                                <button id="capture" type="button" class="btn btn-secondary mt-2">Capture Photo</button>
                                <canvas id="canvas" width="320" height="240" style="display:none;"></canvas>
                                <input type="hidden" id="face_descriptor" name="face_descriptor">
                            </div>

                            <div class="col-md-4 text-start fs-6">
                                {{ form.first_name.errors }}
                                {{ form.first_name|as_crispy_field }}
                            </div>
                            <div class="col-md-4 text-start fs-6">
                                {{ form.middle_name.errors }}
                                {{ form.middle_name|as_crispy_field }}
                            </div>
                            <div class="col-md-4 text-start fs-6">
                                {{ form.last_name.errors }}
                                {{ form.last_name|as_crispy_field }}
                            </div>
                            <div class="col-md-12 text-start fs-6">
                                {{ form.email.errors }}
                                {{ form.email|as_crispy_field }}
                            </div>
                            <div class="col-md-12 text-start fs-6">
                                {{ form.password1.errors }}
                                {{ form.password1|as_crispy_field }}
                            </div>
                            <div class="col-md-12 text-start fs-6">
                                {{ form.password2.errors }}
                                {{ form.password2|as_crispy_field }}
                            </div>
                            <div class="col-md-12 text-start fs-6">
                                {{ form.address.errors }}
                                {{ form.address|as_crispy_field }}
                            </div>
                            <div class="col-md-4 text-start fs-6">
                                {{ form.sex.errors }}
                                {{ form.sex|as_crispy_field }}
                            </div>
                            <div class="col-md-4 text-start fs-6">
                                {{ form.birth_date.errors }}
                                {{ form.birth_date|as_crispy_field }}
                            </div>
                            <div class="col-md-4 text-start fs-6">
                                {{ form.birth_place.errors }}
                                {{ form.birth_place|as_crispy_field }}
                            </div>
                            <div class="col-md-12 text-start fs-6">
                                {{ form.reader_type.errors }}
                                {{ form.reader_type|as_crispy_field }}
                            </div>
                            <div class="col-md-12 text-start fs-6">
                                {{ form.school.errors }}
                                {{ form.school|as_crispy_field }}
                            </div>

                            <button type="submit" class="btn btn-primary">Sign Up</button>
                            <p>Do you already have an account? <a href="#" class="secondary-color">Login here</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- face-api.js -->
    <script defer src="https://cdn.jsdelivr.net/npm/@vladmandic/face-api@latest/dist/face-api.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', async function() {
            var video = document.getElementById('camera');
            var canvas = document.getElementById('canvas');
            var context = canvas.getContext('2d');
            var captureButton = document.getElementById('capture');
            var faceDescriptorInput = document.getElementById('face_descriptor');

            // Load face-api.js models
            await faceapi.nets.ssdMobilenetv1.loadFromUri('/models');
            await faceapi.nets.faceRecognitionNet.loadFromUri('/models');
            await faceapi.nets.faceLandmark68Net.loadFromUri('/models');

            // Get access to the camera
            if (navigator.mediaDevices && navigator.mediaDevices.getUserMedia) {
                navigator.mediaDevices.getUserMedia({ video: true })
                .then(function(stream) {
                    video.srcObject = stream;
                    video.play();
                })
                .catch(function(error) {
                    console.log("Something went wrong!");
                });
            }

            // Capture a photo
            captureButton.addEventListener('click', async function() {
                context.drawImage(video, 0, 0, 320, 240);
                const detections = await faceapi.detectSingleFace(canvas).withFaceLandmarks().withFaceDescriptor();

                if (detections) {
                    const faceDescriptor = detections.descriptor;
                    const faceDescriptorString = JSON.stringify(faceDescriptor);

                    // Store face descriptor in hidden input
                    faceDescriptorInput.value = faceDescriptorString;
                } else {
                    alert("No face detected. Please try again.");
                }
            });
        });
    </script>
  </body>
</html>
