{% extends 'accounts/password/base/password_main.html' %}
{% load static %}

{% load widget_tweaks %}
{% load crispy_forms_tags %}


{% block content %}

<div class="row d-flex justify-content-center align-items-center" style="height: 100vh;min-height:600px">
    <div class="col-lg-5 col-md-6 col-sm-10  shadow-lg p-3 rounded card">
       
        <div class="row mb-2">
            <div class="d-flex flex-column justify-content-center">
                <!-- <div class="d-flex flex-column"> -->
                    <img class="img-fluid rounded mx-auto d-block" src="{% static 'images/logo-library.jpg' %}" style="width:120px; height:120px">
                    <h2 class="text-center mt-2" style="font-size: 25px;color: #333333"> Daniel Fajardo Public Library </h2>
                <!-- </div> -->
                
            </div>
        </div>
        <h1 class="text-center" style="font-size: 20px;color:#E693CE">Reset Password</h1>
        <h3 class="text-center fs-6">Please check your email and follow the instruction to reset your password.</h3>

    </div>
</div>

{% endblock %}