{% extends 'base/main.html' %}
{% load static %}

{% block content %}
    {% include 'accounts/nav.html' %}

    <section class="gray-bg main-dashboard-sec" id="sec1">
        <div class="container">
            {% include 'accounts/side.html' %}
            <!-- dashboard content-->
            <div class="col-md-9">
                {% include 'accounts/messages.html' %}
                {% block profile_content %}
                
                {% endblock %}
            </div>
    </section>
    <!--  section  end-->
    <div class="limit-box fl-wrap"></div>
{% endblock %}