{% load static %}

 <!--  dashboard-menu-->
 <div class="col-md-3">
    <div class="mob-nav-content-btn color2-bg init-dsmen fl-wrap"><i class="fal fa-bars"></i> Dashboard menu</div>
    <div class="clearfix"></div>
    <div class="fixed-bar fl-wrap" id="dash_menu">
        <div class="user-profile-menu-wrap fl-wrap block_box">
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Main</h3>
                <ul class="no-list-style ps-0">
                  

                    <li>
                        {% url 'profile' user.id as profile_url %}
                        <a href="{{ profile_url }}" {% if request.get_full_path == profile_url %}  class="user-profile-act" {% endif %}><i class="fal fa-chart-line"></i>Dashboard</a>
                    </li>
                    <!-- <li><a href="dashboard-feed.html"><i class="fal fa-rss"></i>Your Feed <span>7</span></a></li> -->
                    <li>
                        {% url 'update-profile' user.id as profile_update_url %}
                        <a href="{{profile_update_url}}" {% if request.get_full_path == profile_update_url %} class="user-profile-act" {% endif %} > <i class="fal fa-user-edit"></i> Edit profile</a>
                    </li>
                    <!-- <li><a href="dashboard-messages.html"><i class="fal fa-envelope"></i> Messages <span>3</span></a></li> -->
                    <li>
                        {% url 'change_password_user' as change_password_url %}
                        <a href="{{change_password_url}}" {% if request.get_full_path == change_password_url%} class="user-profile-act" {% endif %} > <i class="fal fa-key"></i>Change Password</a>
                    </li>
                    <!-- <li>
                        <a href="#" class="submenu-link"><i class="fal fa-plus"></i>Submenu</a>
                            <ul  class="no-list-style">
                                <li><a href="#"><i class="fal fa-th-list"></i> Submenu 2 </a></li>
                                <li><a href="#"> <i class="fal fa-calendar-check"></i> Submenu 2</a></li>
                                <li><a href="#"><i class="fal fa-comments-alt"></i>Submenu 2</a></li>
                                <li><a href="#"><i class="fal fa-file-plus"></i> Submenu 2</a></li>
                            </ul>                                                    
                        
                    </li> -->
                </ul>
            </div>
            <!-- user-profile-menu end-->
            <!-- user-profile-menu-->
            <div class="user-profile-menu">
                <h3>Listings</h3>
                <ul  class="no-list-style ps-0">
                    <!-- <li><a href="#"><i class="fal fa-th-list"></i> Book Borrowed  </a></li> -->
                    
                    <li>
                        {% url 'reservation-profile' as reservation_url %}
                        <a href="{{reservation_url}}" {% if request.get_full_path == reservation_url %} class="user-profile-act" {% endif %} > <i class="fal fa-calendar-check"></i> Book Reservations</a>
                    </li>
                    <!-- <li><a href="dashboard-review.html"><i class="fal fa-comments-alt"></i> Reviews </a></li>
                    <li><a href="dashboard-add-listing.html"><i class="fal fa-file-plus"></i> Add New</a></li> -->
                    <!-- <li>
                        <a href="#" class="submenu-link"><i class="fal fa-plus"></i>Submenu</a>
                            <ul  class="no-list-style">
                                <li><a href="#"><i class="fal fa-th-list"></i> Submenu 2 </a></li>
                                <li><a href="#"> <i class="fal fa-calendar-check"></i> Submenu 2</a></li>
                                <li><a href="#"><i class="fal fa-comments-alt"></i>Submenu 2</a></li>
                                <li><a href="#"><i class="fal fa-file-plus"></i> Submenu 2</a></li>
                            </ul>                                                    
                        
                    </li>                                                 -->
                </ul>
            </div>
            <!-- user-profile-menu end-->                                        
            <button class="logout_btn color2-bg"> <a href="{% url 'logout' %}" style="color: #FFF;"> Log Out </a> <i class="fas fa-sign-out"></i></button>
            <!-- <a href="{% url 'logout' %}" class="logout_btn color2-bg"> Log Out  <i class="fas fa-sign-out"></i></a> -->
        </div>
    </div>
    <!-- <a class="back-tofilters color2-bg custom-scroll-link fl-wrap" href="#dash_menu">Back to Menu<i class="fas fa-caret-up"></i></a> -->
</div>
<!-- dashboard-menu  end-->